button {
  display: block;
  margin: auto;
  margin-bottom: 5px;
  padding: 15px 25px;
  background: olivedrab;
  border-radius: 25px;
  border: 2px solid whitesmoke;
  color: whitesmoke;
}
button:hover{
    background-color: rgb(214, 35, 95);
    color:gold;
}
.box {
  margin: auto;
  height: 200px;
  width: 400px;
  background: rgb(214, 35, 95) ;
  border-radius: 25px;
  border: 4px solid olivedrab;
  color: whitesmoke;
  margin-bottom: 20px;
}
.box_two {
  margin: auto;
  height: 200px;
  width: 400px;
  background: gold;
  border-radius: 25px;
  border: 4px solid olivedrab;
  color: whitesmoke;
  margin-bottom: 20px;
}
.main_div{
    background:rgb(161, 217, 251);
    height: 100vh;
}
h1{
    text-align: center;
    color: purple;
   font-weight: 700;
   font-family:cursive;
   padding-top: 15px;
}
